body {
	font-family: 'Open Sans', sans-serif;
}

a.discrete-link {
	text-decoration: none !important;
	color: inherit !important;
	transition: all 0.3s !important;
}

a.discrete-link:hover {
	color: #337ab7 !important;
	text-decoration: none !important;
}

a.discrete-link:focus {
	color: #ab2230 !important;
	text-decoration: none !important;
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.timeago-contextual {
	font-style: italic;
	font-size: 0.8em;
}

.navbar-brand {
	letter-spacing: -0.12rem;
}

.embedded .hide-when-embedded {
	display: none;
}

.media-modal {
	text-align: center;
}

/* Make media modals bigger on bigger screens */
@media (min-width: 768px) {
	.media-modal {
		min-height: calc(100% - 0.25rem * 2);
		max-width: 85%;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
	}
}

/*
	Limit the height of image/video modals to always fit on the screen
	(170px/130px is the combined height of elements surrounding the modal body)
*/
.media-modal img.img-fluid {
	max-height: calc(100vh - 170px);
}

.media-modal .ratio {
	max-height: calc(100vh - 130px);
}
